* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box; 
}


.container {
max-width: 1530px;
position: relative;
margin: auto;
width: 90%;
font-family: "Manrope", system-ui;
}

.container2{
  position: relative;
  background-color: #eee9e9;
  max-width: 1530px;
  margin: auto;
  font-family: "Manrope", system-ui;
}

.container3{
  max-width: 1530px;
  position: relative;
  margin: auto;
  width: 90%;
  font-family: "Manrope", system-ui;
  
}

.topheader{
  background-color: #f8f8f8;
  position: relative;
}

.header {
  background-color: #f8f8f8;
  width: 90%;
  margin: 20px auto;
  border-radius: 30px;
  box-shadow: 0 2px 6px 1px #aaa;
  position:fixed;
  top: 0;
  max-width: 1530px;
  z-index: 1000;


}
.icon {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin-left: 10px;
}

.bolt {
  border: #625dfa;
}

.appbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Manrope", system-ui;
  font-size: 15px;
  font-weight: 400;
  align-items: center;
  padding: 10px 5px;
  max-width: 1530px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  a{
    text-decoration: none;
    color: #101010;
  }
}


.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  cursor: pointer;
}
.log {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.signup {
  background-color: #625dfa;
  color: #f8f8f8;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.home,
.about,
.service,
.contact,
.blog,
.pages {
  padding: 5px;
  font-size: 15px;
}

.home:hover,
.about:hover,
.service:hover,
.contact:hover,
.blog:hover,
.pages:hover,
.login:hover {
  font-weight:550;
  border: 0px solid transparent;
  transition: 0.5s;
}

.content1 {
  text-align: center;
  margin-top: 230px;
  margin-bottom: 50px;
  width: 100%;
  font-size: 35px;
  font-family: "Manrope", system-ui;
}
.col {
  color: #625dfa;
}
.line1,
.line2 {
  font-size: 20px;
}

.feild {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 43%;
  margin: 0px auto 10px auto;
  border-radius: 40px;
  box-shadow: 0 0px 8px 0px #aaa;
}

.mail {
  border: none;
  height: 20px;
  font-size: 20px;
}

.mail:focus {
  outline: none;
}

.mailcon{
  display: flex;
  gap: 11px;
justify-content: center;
align-items: center;
margin-left: 7px;
}
.getstarted {
  height: 40px;
  width: 30%;
  font-size:16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: #625dfa;
  color: #f8f8f8;
  cursor: pointer;
}

.img_container{
  margin: 0px auto;
  max-width: 1530px;
  width: 90%;
}

.imgslide {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  max-width: 1530px;
  margin-top: 100px;
}

.img2 {
  width: 250px;
  height: 300px;
  transform: translateY(28px) rotate(-7deg);
  object-position: center;
}
.img3 {
  width: 250px;
  height: 300px;
  transform: translateY(28px) rotate(4deg);
  object-position: center;
}

.img1 {
  width: 250px;
  height: 320px;
  transform: translateY(45px) rotate(2deg);
  object-position: center;
}
.img4 {
  width: 250px;
  height: 320px;
  transform: translateY(45px) rotate(-2deg);
  object-position: center;
}

.logo_container{
  width: 90%;
  margin: 0px auto;
  max-width: 1530px;
}

.content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px auto;
 max-width:1530px;
  font-family: "Manrope", system-ui;
  font-size: 25px;
}

.v1,.v3{
  height: 30px;
  border-left:3px solid #626161 ;
  margin-block-start: 40px;
}

.line3,
.line4 {
  font-size: 45px;
}

.num {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.year,.cust,.project{
  font-size: 20px;
}

.logos,.year,.cust,.project{
  color:#626161
}

.logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1530px;
  margin-top: 130px;
  margin-bottom: 50px;
  font-family: "Manrope", system-ui;
  
}
.log1,
.log2,
.log3 {
  display: flex;
  gap: 10px;
  align-items: center;
}


.content3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1530px;
  margin: auto;
  width: 90%;
  font-family: "Manrope", system-ui;
  color: #282828;
  font-size: larger;
  align-items: center;
  justify-content: space-between;
}

.head3 {
  display: flex;
  flex-direction: column;
}

.para {
  font-size: large;
  max-width: 500px;
  margin-right: 50px;
}

.bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 90%;
}

.row{
  font-size: larger;
}
.grpimg {
  height: 350px;
  width: 750px;
  border-radius: 10px;
  object-position: center;
}

.midcontent {
  
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  max-width: 1530px;
  margin-bottom: 80px;
}

.f1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Manrope", system-ui;
  background-color: #f8f8f8;
  padding: 35px ;
  border-radius: 10px;
}

.twenty {
  font-size: 50px;
}

.chart {
  display: flex;
  gap: 10px;
  align-items: end;
}
.c1 {
  height: 50px;
  width: 70px;
  background-color: #625dfa;
}
.c2 {
  height: 90px;
  width: 70px;
  background-color: blue;
}
.c3 {
  height: 80px;
  width: 70px;
  background-color: #625dfa;
}
.c4 {
  height: 140px;
  width: 70px;
  background-color: blue;
}

.c1,
.c2,
.c3,
.c4 {
  border-radius: 5px;
}*/

.track {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: "Manrope", system-ui;
}

.line5,
.line6 {
  font-size: 45px;
}

.midcontent2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1530px;
  margin: 80px auto;
  
}

.head4 {
  display: flex;
  flex-direction: column;
}

.para2 {
  margin-top: 20px;
  max-width: 370px;
  font-size: large;
  font-weight: 400;
}

.getapp {
  width: 240px;
  margin-top: 80px;
  background-color: #625dfa;
  color: #f8f8f8;
  border-radius: 60px;
  border: none;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: bold;
}

.of_review{
  display: inline-block;
  font-size: 20px;

}

.paragraph{
    margin-top: -30px;
}

.satisfaction {
  background-color:#eee9e9;
  border-radius: 30px;
  padding: 0px 40px 0px 40px;
  margin: 0px 0px 40px;
  font-family: "Manrope", system-ui;
}

.line7 {
  padding-top: 50px;
}

.line8 {
  padding-top: 80px;
  font-size: 40px;
}

.Satis{
  display: flex;
  gap: 20px;
  align-items: baseline;
  
}

.satiscon{
  font-size: 25px;
  color: #f8f8f8;
  padding:10px;
  overflow: hidden;
}


.satiscon_style{
  height:50px;
  width: 50px;
  background-color: #625dfa;
  border-radius: 50%;
  overflow: hidden;

}

.satiscon_style::-webkit-scrollbar{
  display: none;
}

.feed{
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.feedcon{
  font-size: 25px;
  color: #f8f8f8;
  padding: 10px;
  
}

.feedcon_style{
  height: 50px;
  width: 50px;
  background-color: #625dfa;
  border-radius: 50%;
  overflow: hidden;

}
.feedback {
  background-color:#eee9e9;
  border-radius: 30px;
  font-family: "Manrope", system-ui;
  padding: 0px 50px 0px 50px;
  margin: 0px 0px 40px;
  
}

.line9 {
  padding-top: 50px;
}

.line10 {
  padding-top: 80px;
  font-size: 40px;
}

.container_payment{
  margin: auto;
  max-width: 1530px;
  width: 100%;
  background-color: aliceblue;
}

.payment {
  margin: 100px auto;
  width: auto;
}
.head5 {
  text-align: center;
  font-family: "Manrope", system-ui;
  font-size:23px;
}

.para5 {
  max-width: 500px;
  width: 80%;
  margin: 20px auto;
  font-size: large;
}

.btn {
 text-align: center;
 display: flex;
 justify-content: center;
 
}

.save_month{
  background-color: #625dfa;
  border-radius: 30px;

}

.month {
  width: 150px;
  background-color: #625dfa;
  color: #f8f8f8;
  border: none;
  padding: 7px 10px;
  font-size:15px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Manrope", system-ui;
  text-align: center;
}

.save {
  font-family: "Manrope", system-ui;
  width: 100px;
  background-color: #f8f8f8;
  color: black;
  border: none;
  padding: 5px; 
  font-size: 17px;
  border-radius: 30px;
  margin-right: 5px;
  cursor: pointer;
  margin-block: 5px;
}

.yearly {
  width: 200px;
  background-color:#f8f8f8;
  color:#101010;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.plan {
  display: flex;
  flex-wrap: wrap;
  max-width: 1530px;
  gap:10px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", system-ui;
}

.line12,.line14{
  font-size: 35px;
}

.personal {
  background-color: #eee9e9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border-radius: 20px;
}

.pro {
  background-color: #eee9e9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border-radius: 20px;
}

.premium {
  background-color: #eee9e9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border-radius: 20px;
}

.v2{
  list-style: none;
  width: 350px;
  margin: 0px auto;
  border-left:0px solid #626161 ;

}
.per_month{
  font-size: medium;
}

.circle_icon{
  background-color: #625dfa;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 8px;
  overflow: hidden;
  color: #f8f8f8;
}

.circle_icon1{
  background-color: #625dfa;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 10px;
  overflow: hidden;
  color: #f8f8f8;
}

.perslist,
.prolist,
.prelist {
  list-style: inside;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.perslist,
.prolist,
.prelist{
  list-style: none;
}

.perslist,
.prolist,
.prelist, li:before {
  content: '✓';
  margin-right: 20px;
  
}

.first,
.second,
.third {
  height: 40px;
  margin-top: 40px;
  width: 350px;
  background-color: #625dfa;
  color: #eee9e9;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.personal:hover {
  background-color: #625dfa;
  color: #fff;
  .first {
    background-color:#FFF;
    color: #625dfa;
  }
  .circle_icon{
    background-color: #FFF;
    color: #625dfa;
  }

}

 .pro:hover{
  background-color:#625dfa;
  color: #f8f8f8;
  .second{
    background-color: #f8f8f8;
     color: #625dfa;
  }

  .circle_icon1{
    background-color: #FFF;
    color: #625dfa;
  }
}


.premium:hover{
  background-color:#625dfa;
  color: #f8f8f8;
.third{
  background-color: #f8f8f8;
  color: #625dfa;
} 
}

.payicons{
  font-size: large;
  color: #625dfa;
}

  .get_start{
    text-align: center;
  }

.container1{
  max-width: 1530px;
  margin: auto;
  margin-top: -20px;
}
.imgbg{
  background-image: url("images/muhammad-raufan-yusup-85R6lhqmb4k-unsplash.jpg");
  height: 700px;
  width: 100%;
  overflow-x: hidden;
  margin: 50px auto;
  background-size: cover;
  font-family: "Manrope", system-ui;
  font-size: 20px;
  text-align: end;
  color: #FFF;
  object-fit: cover;
}

.text{
  padding-top: 40px;
  margin-right: 160px;
  margin-top: 200px;
  animation: slideup 10s ease-in-out forwards;
}

.btn1{
  margin-top: 20px;
  background-color: #f8f8f8;
  color: #282828;
  padding: 8px;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
}


@keyframes slideup {
  0%{
      right: -10%;
      opacity: 0;
  }

  100%{
      bottom: 50%;
      opacity: 1;
  }
}

.rev{
  text-align: center;
  font-family: "Manrope", system-ui;
  font-size: 30px;
  color: #282828;
  margin-top: 50px;
  background-color: #eee9e9;
}

.rev_head{
  font-size: 43px;
}

.para9{
  margin-top: 20px;
  font-size: 20px;
}
.para10{
  font-size: 20px;
}


.review_stars{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 50px;
}

.review_container{

  background-color: #eee9e9;

}
.review{
  font-family: "Manrope", system-ui;
  margin: 70px auto;
  max-width: 1530px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: #eee9e9;
  
}

.review1,.review2{
  background-color:#f8f8f8;
  padding: 35px;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.review_para{
  font-size: medium;
}

.para_review{
  margin-top: 20px;
}

.stars{
  display: flex;
  justify-content: end;
  
  
}

.author{
  margin-top: 50px;
  font-size: medium;
}

footer{
  height: 400px;
  overflow: hidden;

}
.foot{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px auto;
  max-width: 1530px;
  width: 100%;
  background-color:  #282828;
  color: #f8f8f8;
  font-family: "Manrope", system-ui;
  height: 400px; 
  bottom: 0;
  overflow: hidden;
  padding: 60px;



}

.copyright1{
  display: none;
}

.mainlog{
  display: flex;
  align-items: center;
  gap: 10px;
}

.blogs{
  display: flex;
  gap: 50px;
}

.page{
  display: flex;
  flex-direction: column;
  gap: 10px;
  a{
      text-decoration: none;
      color:#626161;
  }
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    a{
      text-decoration: none;
      color:#626161;
    }
  }


.left1{
  display: flex;
  flex-direction: column;
}

.fopara{
  max-width: 300px;
  margin-top: 20px;
}

.socialmedia{
  margin-top: 30px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.copyright{
  margin-top: 40px;
}

.subscribe{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items:flex-start;
  background-color:#101010;
  padding-inline-start:30px;
  padding-block: 18px;
  border-radius: 20PX;
  padding-inline-end: 0pxs;
  height: 255px;

  

}

.subpara{
  max-width: 400px;
  text-align:start;
}

.sub_head{
  text-align: start;
}

.subem, .subbtn{
  height: 40px;
  width: 370px;
  border-radius: 20px;
}

.subem{
  text-align: start;
  background-color: #282828;
  border: none;
  padding-left: 10px;
}
.subbtn{
  background-color: #625dfa;
  color: #f8f8f8;
  cursor: pointer;
}

.option{
  display: none;
}

.subscribe1{
  display: none;
}

@media screen and (min-width:451px) and (max-width:900px){
  body{
    min-width: 451px;
    max-width: 900px;
  }
  .header,.content2,.midcontent2,.midcontent,.plan,.review{
    gap: 20px;
    flex-direction: column;
  }

  .content1{
    margin-top: 150px;
    font-size: 25px;
  }
  .col{
    font-size: 50px;
  }
  
  .option{
    display: block;
  }
  .opt{
    background-color: #625dfa;
    color: #f8f8f8;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 10px;
    margin-inline-end: 10px;
  }

  .head2{
    text-align: center;
  }

  .v1{
    text-align: center;
    
  }

 .content3{
  justify-content: center;
  align-items: center;
 }

 .para{
  text-align: center;
  margin-left: 30px;
 }

 .bar,.track{
  justify-content: center;
 }
  .content{
    display: none;
  }

  .feild{
    width: 80%;
  }  

  .grpimg{
    object-fit: cover;
    object-position: center;
  }

  .container3{
    margin-top: 0px;
  }

  .head4{
    align-items: center;
  }
  .satisfaction ,.feedback{
    text-align: center;
    padding: 0%;
    margin-inline: auto;
    width: 520px;
    border-radius: 15px;
  }
  .Satis,.feed{
    justify-content: center;
  }

  .paragraph{
    margin-bottom: 50px;
  }

  .get_app{
    text-align: center;
  }

  .container_payment
  {
    margin-top: 0px;
  }
  .payment{
    margin-top: 20px;
  }
  .plan{
    margin-bottom: 0px;
  }
  .log{
    display: none;
  }

  .subscribe{
    display: none ;
  }

 .foot{
  height: 800px;
 }

 .subscribe1{
  display:block;
 }
 .subscribe1{
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0%;
  height: 350px; 
  font-size: 15px;
  gap: 20px;
  background-color: #f8f8f8;
  padding: 40px;
  border-radius: 10px;
}

.subem, .subbtn{
  height: 50px;
  width: 400px;
  border-radius: 20px;
  font-size: large;
  border:2px solid;
}

.subbtn{
  margin-top: 20px;
}

.subem{
  background-color: aliceblue;
  color: #101010;
  text-align: center;
}
.subbtn{
  background-color: #eee9e9;
  color: #101010;
  text-align: center;
}

.container1,.container2,.container3,.container_payment{
  margin-top: 0%;
}

.copyright{
  display: block;
}

.copyright1{
  display: none;
}

.log3{
  display: none;
}

.imgbg{
  margin-top: 0px;
  margin-bottom: 0px;
}
.text{
  color: #101010;
}

}


@media screen and (min-width:300px) and (max-width:450px){
  .header,.content2,.midcontent2,.midcontent,.plan,.review{
    gap: 20px;
    flex-direction: column;
  }

  body{
    min-width: 300px;
    max-width: 450px;
  }

  .option{
    display: block;
  }
  .opt{
    background-color: #625dfa;
    color: #f8f8f8;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 10px;
    margin-inline-end: 10px;
  }

  .v1{
    text-align: center;
    margin-left: 50px;
    
  }

  .v3{
    display: none;
  }

  .content{
    display: none;
  }

  .feild{
    width: 80%;
  }  

  .grpimg{
    object-fit: cover;
    object-position: center;
  }

  .num{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    font-size: 15px;
  
  
  }
  .logos,.log{
    display: none;
  }

  .log3{
    display: none;
  }
  .content3,.img5 ,.plan{
    gap: 20px;
  }

  .get_app{
  text-align: center;
  }
  .satisfaction,.feedback{
    text-align: center;
    border-radius: 15px;
  }
  .imgbg{
    height: auto;
    object-position: center;
    display: none;
  }

  .text{
    color: #101010;
  }

  footer{
    height: auto;
    margin-bottom: 0px; 
 
  
  }
  .foot{
  height: auto;
  margin-bottom: 0%;
  justify-content: center;
  bottom: 0;
  left: 0;
  overflow: hidden;
  gap: 20px;
  }

  .socialmedia{
    justify-content: center;
  }
  .blogs{
  text-align: center;
  }

  .left1{
  text-align: center;
  }

  .blog{
  flex-direction: column;
  }
  .subscribe1{
    justify-content: center;
    text-align: center;
    align-items:center;
  }
  .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text{
    font-size: 20px;
  }

  .btn1{
    height: 50px;
    width: 200px;
  }

  .satisfaction,.feedback{
    height:300px;
    border-radius: 15px;
    
  }

  .img_container{
    width: 100%;
  }

  .logo_container{
    width: 90%;
    margin: 0 auto;
  }

  .plan{
    width: auto;
    margin: auto;
    
  }

  .copyright{
    display: none;
  }

  .copyright1{
    display: block;
  }

  .content1{
    margin-top: 150px;
    h1{
      font-size: 45px;
    }
  }

  .container1,.container2,.container3,.container_payment,.midcontent,.midcontent2,.pro{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .text{
    color: #f8f8f8;
    margin-left: 0px;
  }

  .mainlog{
    justify-content: center;
  }

  .subem{
    text-align: start;
  }

  .imgbg{
    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .review{
   max-width: 380px;
  }

  .subscribe1{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0%;
    margin-inline: 30px;
    justify-content: center;
    flex-direction: column;
  }
  .subpara{
    text-align: center;
  }

  .sub_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subbtn{
    margin-top: 20px;
  }
}

@media screen and (max-width:320px){
  .imgbg{
    display: none;
  }

  .of_review{
    font-size: 15px;
  }
  .mainlog{
    h1{
      font-size: 20px;
    }
  }

  .user_details{
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width:450px) {
    .imgslide{
    display: none;}

    .feild{
      width: 100%;
     
    }

    .getstarted{
      width: 80px;
      font-size: 10px;
    }

    
  .socialmedia{
    justify-content: center;
    
  }
  .blogs{
  text-align: center;
  }

  .left1{
  text-align: center;
  }

  .blog{
  flex-direction: column;
  }
  .subscribe1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0%;
    gap:20px;
    height: 350px;
    background-color: aliceblue;
    padding: 40px;
    font-size: larger;
  }
  .subscribe1{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0%;
    margin-inline: 30px;
    border-radius: 20px;
  }

  .subem, .subbtn{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: white;
    color: #101010;
  }

  .subem ,.subbtn{
    border: 1px solid;
  }
  .container_payment{
    width: 90%;
    border-radius: 0px;
    padding: auto;
  }

  .premium,.pro,.personal{
    width: 90%;
  }

  .get_start{
  
    text-align: center;
  }

  .first,.second,.third{
    width: 90%;
  }

  .feild,.mail{
    font-size: 15px;
  }

  .subscribe{
    display: none;
  }

  .getstarted{
    width: 90px;
    font-size: 12px;
  }
}

@media screen and (max-width:320px){
  .container {
    max-width: 320px;
    position: relative;
    margin:auto;
    width: 100%;
    font-family: "Manrope", system-ui;
    }

    .appbar{
      width: 100%;
      margin:auto;
      max-width: 320px;
      font-family: "Manrope", system-ui;
    }

  .container2,.container3,.container_payment,.review_container,.imgbg,.foot{
    max-width: 320px;
    position: relative;
    margin: auto;
    width: 90%;
    font-family: "Manrope", system-ui;
  }

  .header{
    width: 90%;
    margin-left: 17px;
  }

  

  .midcontent{
    padding: 0px;
  }

.head3,.head4,.head5,.rev_head,.sub_head,.line3,.line4,.line5,.line6,.line7,.line8,.line9,.line10,.line12,.line14{
    font-size: 25px;
  }

  .foot ,.subscribe{
    font-size: 10px;
  }

  

  .subscribe1{
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }

  h1{
    font-size: larger;
  }
  .sub_head,.subbtn,.subem,.subpara,.fopara,.review_para ,.para,.para2,.para5,.para9,.para10,.para_review,.paragraph,p,.line1,.line2,.mail,.year,.cust,.project{
    font-size: small;
  }
  .subbtn,.subem ,.first,.second,.third{
    width: 130px;
  }

  ul{
    font-size: small;
  }

  .get_start{
    text-align: center;
    margin-right: 10px;
  }

  .btn1{
    height: auto;
    width: auto;
    font-size: small;
  }

  .personal,.pro{
    border-radius: 0px;
  }

  .subscribe{
    display: none;
  }

  .user_details{
    display: flex;
    flex-direction: column;
  }

  .getstarted{
    width: 90px;
  }
}

